@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
   <title>Profile Information</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="#">

   <link rel="stylesheet" href="~/_Assets/bootstrap/css/bootstrap.min.css">
   <script src="~/_Assets/bootstrap/js/bootstrap.min.js"></script>

   <style>
      .container{
         padding-top: 7em;
      }
      form{
         max-width: 330px;
         }
      input, .input{
         width: 100%;
         font-weight: bold;
      }
      footer{
          padding-bottom: 3em;
      }
   </style>


</head>

<body>
   
<!-- navigation here -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" href="#">NGRODP</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Requests</a>
                </li>
            </ul>
        </div>

        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>        
            </ul>
        </div>
    </nav>

    <div class="container">
        <h2>Profile Information</h2>
        <a class="btn btn-md btn-info" href="#">Edit</a>
        <hr>

        <p class="h1">RABEN VILLAGONZALO CASAS</p>
        <p class="h4">PISONG, LA LIBERTAD, NEG. OR.</p>
        <p class="h5">Male, Single</p>
        <p class="h5">23 Years Old</p>
        <p class="h5">January 16, 1995</p>
        <br>
        <p class="h3">BS INFORMATION TECHNOLOGY</p>
        <p class="h4">4th year, 2nd semester</p>

    </div>

    <div class="container">
        <footer class="text-center">
            All rights reserved &copy; 2019
            <br>
            Negros Oriental State University - Guihulngan Campus
        </footer>            
    </div>

</body>
</html>