@{
    Layout = null;
    ViewData["title"] = "Application Form";
}

<!DOCTYPE html>

<html>
<head>
   <title>Request Form</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" href="#">

   <link rel="stylesheet" href="../_Assets/bootstrap/css/bootstrap.min.css">
   <script src="../_Assets/bootstrap/js/bootstrap.min.js"></script>

   <style>
      .container{
         padding-top: 3em;
      }
      .title{
         padding-top: 2em;
         padding-bottom: 2em;
      }
      form{
         max-width: 330px;
         }
      input{
         padding: 10px;
         width: 100%;
      }
      .input{
          font-weight: bold;
      }
   </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-3">
                <label>RA 9299</label>
            </div>
            <div class="col-md-4">
                <label>Republic of the Philippines</label>
            </div>
            <div class="col-md-3">
                <label>June 25, 2004</label>
            </div>
        </div>

        <div class="row">
            <h1 class="col-md-12 mb-1 text-center">Negros Oriental State University</h1>
        </div>

        <div class="row mb-0">
            <div class="col-md-3">
                <label>NOPS (1907)</label>
            </div>
            <div class="col-md-3">
                <label>NOTS (1927)</label>
            </div>
            <div class="col-md-3">
                <label>EVSAT (1956)</label>
            </div>
            <div class="col-md-3">
                <label>CVPC (1983)</label>
            </div>
        </div>

        <div class="row mb-3">
                <label class="col-md-12 mb-0 text-center"><b>Guihulngan Campus, Guihulngan City, Negros Oriental, Philippines 6214</b></label>
                <h5 class="col-md-12 mb-0 text-center">OFFICE OF THE ASSISTANT REGISTRAR</h5>
                <h5 class="col-md-12 mb-0 text-center"><u>APPLICATION FOR DOCUMENTS</u></h5>
        </div>

        <div class="row mb-2">
            <div class="col-md-4">
                <label>Date of Filing:</label>
                <u><label class="ml-3"><b><u>/u></b></label></u>
            </div>
            <div class="col-md-4">
                <label>Date Due:</label>
                <u><label class="ml-3"><b><u>January 1, 2019</u></b></label></u>
            </div>
            <div class="col-md-4">
                <label>Received by:</label>
                <u><label class="ml-3"><b><u>Juan Dela Cruz</u></b></label></u>
            </div>
        </div>
        
        <div class="row mb-1">
            <label><b><u>PERSONAL INFORMATION</u></b></label>
        </div>

        <div class="row">
            <label><b>NAME:</b></label>
        </div>
        <div class="row mb-4">
            <i>(NOTE! Use <u>MAIDEN NAME</u> if <u>FEMALE</u> students is still <u>SINGLE</u> during her stay in the University.)</i>>
        </div>
        <div class="row">
            <div class="cold-md-1">
                <label><b>GENDER:</b></i>
            </div>
            <div class="col-md-5 custom-control custom-checkbox">
                <input type="radio" class="custom-control-input"> <label class="custom-control-label">MALE</label>
                <input type="radio" class="custom-control-input"> <label class="custom-control-label">FEMALE</label>
            </div>
            <div class="cold-md-1">
                <label><b>CIVIL STATUS:</b></i>
            </div>
            <div class="col-md-5 custom-control custom-checkbox">
                <input type="radio" class="custom-control-input"> <label class="custom-control-label">SINGLE</label>
                <input type="radio" class="custom-control-input"> <label class="custom-control-label">MARRIED</label>
            </div>    
        </div>
        <div class="row">
            <label><b>BIRTHDATE: </b></label> &nbsp;&nbsp; <i>(Month/ Day/ Year)</i>
        </div>
        <div class="row">
            <label><b>BIRTHPLACE:</b></label>
        </div>
        <div class="row">
            <label><b>ADDRESS:</b></label>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label><b>MOBILE NUMBER:</b></label>
            </div>
            <div class="col-md-6">
                <label><b>E-MAIL:</b></label>
            </div>
        </div>

        <div class="row mb-1">
            <label><b><u>ACADEMIC INFORMATION</u></b></label>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label><b>COURSE:</b></label>
            </div>
            <div class="col-md-6">
                <label><b>MAJOR:</b></label>
            </div>
        </div>    
        <div class="row">
            <label><b>ELEMENTARY:</b></label>
        </div>
        <div class="row">
            <label><b>SECONDARY:</b></label>
        </div>
        <div class="row mb-3">
            <label><b>COLLEGE:</b></label>
        </div>
                           

        <div class="row mb-1">
            <label><b><u>DOCUMENT REQUESTED: </u></b></label>
        </div>

        <!-- <div class="row table-bordered mb-4">
            <label>NAME:</label>
        </div>     -->

        <div class="row mb-4">
            <label><b><u>PURPOSE OF REQUEST: </u></b></label>
        </div>

        <div class="row mb-1">
            <label><b><u>IMPORTANT</u></b></label>
            <br>
        </div>
    
        <div class="row">
            <ul>
                <li><small>Please <b>RETURN</b> this form in the Office of the Assistant Registrar (Information Window) upon payment at the Cashier's Office <b>TOGETHER WITH THE REQUIREMENTS.</b></small></li>
                <li><small>Please submit a<b>DOCUMENTARY STAMP</b> when requiring for Transcript of Records and Certification.</small></li>
                <li><small>Please attach <b>AUTHORIZATION LETTER</b> for documents to be claimed by a second person.</small></li>
            </ul>
            <hr>
        </div>

        <div class="row mb-0">
            <hr>
        </div>

        <div class="row mb-0">
            <label><i>Form 1 Application for Documents</i></label>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <h4 class="my-0">NEGROS ORIENTAL STATE UNIVERSITY</h4>
                </div>
                <div class="row">
                    <small>Guihulngan City Campus</small> 
                </div>
                <div class="row">
                    <small>6214 Guihulngan City, Negros Oriental</small> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h3 class="my-0">DOCUMENT CLAIM STUB</h3>
                </div>
                <div class="row">
                    <label><u>Present this portion when claiming the requested document</u></label>
                </div>        
            </div> 
        </div>

        <div class="row">
            <div class="col-md-6">
                <label><b>NAME: </b></label>
            </div>
            <div class="col-md-6">
                <label><b>COURSE:   </b></label>
            </div>
        </div>

        <div class="row">
            <small>
                If records on file are complete and in proper order, the document applied for will be <u>released to you or your duly authorized representative</u> with <b>AUTHORIZATION LETTER</b>.
            </small>
        </div>

        <div class="row">
            <small><b><i>NOTE:</i></b></small>
        </div>

        <div class="row">
            <ol>
                <li><small> For non-personal appearance, TOR will only be released to the person with the proper Authorization Letter. Even request of parents without proper <b>AUTHORIZATION LETTER</b> will not be accommodated.</small></li>
                <li><small><b>CLEARANCE IS REQUIRED</b>for requests for Transcript of Records, Diploma, and Honorable Dismissal.</small></li>
            </ol>
        </div>
    
        <div class="row mb-2">
            <div class="col-md-4">
                <label>DOCUMENT TYPE:</label>
                <u><label class="ml-3"><b><u>Diploma</u></b></label></u>
            </div>
            <div class="col-md-3">
                <label>DATE FOR RELEASE:</label>
                <u><label class="ml-3"><b><u>1/1/2019</u></b></label></u>
            </div>
            <div class="col-md-3">
                <label>RECEIVED BY:</label>
                <u><label class="ml-3"><b><u>Juan Dela Cruz</u></b></label></u>
            </div>
            <div class="col-md-2">
                <label>DATE:</label>
                <u><label class="ml-3"><b><u>1/1/2019</u></b></label></u>
            </div>
        </div>    

        <div class="row mb-1">
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label><b>Lacking Files: </b></label> 
            </div>
            <div class="col-md-3">
                <input type="radio" class="custom-control-input">
                <label>NSO Photocopy</label>
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>2x2 Picture</label>
            </div>
            <div class="col-md-2">
                <input type="radio" class="custom-control-input">
                <label>Documentary Stamp</label>
            </div>
            <div class="col-md-3">
                <input type="radio" class="custom-control-input">
                <label>Long Expanded Envelope (Brown)</label>
            </div>
        </div>   

        <div class="row mb-2">
            <label><i>Form 1 Application for Documents</i></label>
        </div>
    
    </div>
</body>
</html>